.filter {
  margin: 0 auto 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  width: 700px;
}

.filter_input {
  margin-top: 10px;
  width: 250px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  outline: none;
  height: 30px;
  font-size: 12px;
}
