html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #e7ecf2;
  margin: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}
