@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #e7ecf2;
  margin: 0;
  font-family: 'Trispace', sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}
